*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  background-color: hsl(210, 60%, 98%);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
h3,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
main {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 0.8rem;
  color: hsl(219, 14%, 63%);
}
.layout-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 15px;
}
.notifications-bar,
.notification {
  display: flex;
}
.notifications-bar {
  justify-content: space-between;
}
#mark-read {
  cursor: pointer;
}
.notification {
  margin-top: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  border-radius: 12px;
}
.unread-notification {
  background-color: hsl(210, 60%, 98%);
}
.notifications-count {
  display: flex;
  justify-content: space-between;
}
.count-container {
  background-color: hsl(219, 85%, 26%);
  color: white;
  padding: 0 0.6rem;
  border-radius: 3px;
  margin-left: 0.5rem;
  font-weight: 800;
}
.avatar-container {
  min-width: 5rem;
  height: 4rem;
  overflow: hidden;
  margin-right: 1rem;
}
.avatar-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.image-preview {
  margin-left: 0.5rem;
  width: 4rem;
  cursor: pointer;
}
.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.bold-text {
  color: hsl(224, 21%, 14%);
  font-weight: 800;
}
.user {
  cursor: pointer;
}
.post-link {
  cursor: pointer;
}
.bold-blue-text {
  color: hsl(219, 85%, 26%);
  font-weight: 800;
}
.dark-blue-text {
  color: hsl(219, 12%, 42%);
  font-weight: 800;
}
.message-preview {
  background-color: white;
  border: solid 0.8px black;
  padding: 0.8rem;
  flex-wrap: wrap;
}
.notification-marker {
  background-color: hsl(1, 90%, 64%);
  width: 7px;
  height: 7px;
  border-radius: 10px;
}
